/* Global */
body {color: #444;font-family: "Open Sans",sans-serif;font-size: 13px;line-height: 1.4em;background-color: #F1F1F1;}
#wpcontent {padding-left: 0 !important;}
.container {margin: 0;width: 100%;}

/* Unstrap */
label {font-weight: normal;margin-bottom: 5px;display: inline-block;}
fieldset {padding: 0;border: none;}

/* Header */
.muffin-header {padding: 20px 0; background: #498BC2;display: none;}
.muffin-header h1 {color: white;font-weight: 300;}

/* Nav */
.muffin-nav {}
.navbar {margin-bottom: 0;border-top: none;background: #F4F4F4;}
.navbar .container {padding: 0;background: #545454;}
.nav {margin-top: 0;}
.nav li {margin-bottom: 0;float: left;max-width: 20%;}
.nav li a {padding: 20px 30px;color: white;text-align: center;}
.nav li.active a {background-color: #FF9126 !important; color: white;}
.nav li a:hover {background-color: #FF7B15; color: white;}
.nav li .fa {margin-bottom: 5px;}
nav a:focus {box-shadow: none;outline: none;}
@media (max-width: 540px) {.nav li a {padding: 15px 10px;}}
@media (max-width: 370px) {.nav li a {padding: 10px 5px;}}
@media (max-width: 330px) {.nav li a {}}

/* Settings Panels */
.settings-panel {display: none;}
.settings-panel.current {display: block;}

/* Form */
.options-form {}
.options-form a {font-weight: 400;}
input[disabled] {background-color: #F1F1F1;}
textarea {min-height: 100px;}
p.description {font-weight: 300;font-style: normal;}
.widefield {width: 100%;}

/* Rows & Columns */
.settings-panel .row-alpha {}
.settings-panel .row-omega {}
.settings-panel .row:last-child {}
.row {padding-top: 15px; padding-bottom: 10px;background-color: white;border-top: 1px solid rgb(234, 234, 234);}
.row:first-child {border-top: none;}
.row-title {background-color: #498BC2;}
.row-title h3 {color: white; font-weight: 300;}
.row-info {padding-top: 5px;padding-bottom: 5px;}
.row-info p {font-weight: 300;font-style: normal;}
.col-title {}
.col-name {font-weight: bold;}
.col-setting {word-wrap: break-word;}
.col-empty {}

/* Extras */
.note {font-size: 11px; color: #BCBCBC}
.popover {z-index: 9990;}
.pretext {display: inline-block;width: 110px;font-weight: bold;}